:root {
    --dark: #000000;
    --light: #ffffff;
}
.dark {
    --bg: var(--dark);
    --text: var(--light);
    --inverse-bg: var(--light);
    --inverse-text: var(--dark);
}
.light {
    --bg: var(--light);
    --text: var(--dark);
    --inverse-bg: var(--dark);
    --inverse-text: var(--light);
}
body {
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.5rem;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    font-family: hind siliguri,sans-serif;
    font-size: 1.25rem;
}
.landing h1, .landing h2, .landing h3 {
    font-family: "Fira Mono", monospace;
}
header,main,aside,footer {
    display: block;
    max-width: 42rem;
    margin: 0 auto;
}
article img {
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
}
.me {
    margin-top: 1rem;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li {
    display: table-cell;
    padding: 0 .5rem;
}
a {
    color: var(--text);
    transition: color 1000ms ease-in-out !important;
}
a:link, a:visited {
    text-decoration: underline;
    color: var(--text);
    transition: color 1000ms ease-in-out !important;
}
a:active, a:hover {
    text-decoration: underline;
    color:#3e3;
}
footer {
    padding-top: 4rem;
}
footer p {
    font-size: x-small;
    text-align: center;
}
main.content {
    margin-top: 2rem;
}
.post-image {
    text-align: center;
}
.post-image img {
    max-width: 42rem;
}
nav.pagination ul {
    list-style: none;
    padding: 0;
}
nav.pagination ul.previous {
    float: left;
}
nav.pagination ul.next {
    float: right;
}
nav.pagination ul li {
    display: table-cell;
    padding: 0 .5rem;
}
nav.pagination ul.next li:before {
    content: '';
}
nav.pagination ul.previous li:after {
    content: '';
}
blockquote {
    border-left: #3e3 solid .25rem;
    margin: 1rem;
    padding-left: 1rem;
}
pre {
    font-family: "Fira Mono", monospace;
    padding: 1rem;
    font-size: 1rem;
    overflow-x: scroll;
}
.preload, a, a:link, a:visited {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
#theme-switch {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: var(--inverse-bg);
    color: var(--inverse-text);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
h1 {
    line-height: normal;
}
footer h4 {
    margin: 0;
}
footer ul {
    margin: 1rem;
    padding: 0;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
