<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="light preload">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{ if .IsHome }}
            <script>
                if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                    }
                });
                }
            </script>
        {{ end }}
        <button id="theme-switch"></button>
        <script defer src="/js/app.js"></script>
    </body>
</html>
