{{ define "main" }}
    <main class="content">
        <h1>{{ .Title }}</h1>
        {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
            <h1><a href="{{ .Permalink }}">{{ .Params.Title }}</a></h1>
            <p>
                <em>Written {{ .Date.Format "2006-01-02" }}</em> 
                {{ if .Params.tags }}
                    <br>
                    tags: 
                    {{ range .Params.tags }}
                    <a href="/tags/{{ (urlize (printf "%s/" . )) }}">
                        #{{- . -}}
                    </a>
                    {{ end }}
                {{ end }}
            </p>
            {{ if .Params.image }}
                <div class="post-image">
                    <img src="{{ .Params.image }}" />
                </div>
            {{ end }}
            <p>
                {{ if .Params.Description }}
                    {{ .Params.Description | markdownify }}
                {{ else if .Truncated }}
                    {{ .Truncated }}
                {{ end }}
            </p>
            <ul class="fancy-forward">
                <li><a href="{{ .Permalink }}">Read more</a></li>
            </ul>
            <hr>
        {{ end }}
        Psst, did you know that there is a <a href="/blog/rss.xml">RSS</a> feed, well you just found it?
        {{ partial "pagination" . }}
    </main>
{{ end }}


