<meta charset="utf-8">
<title>Vojtěch Mareš's blog</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" title="My Awesome Style">
<meta name="description" content="Hello, my name is Vojtěch Mareš. I'm from Czech Republic and I am a software engineer, freelancer and for the most an university student  of computer science.">
<meta name="keywords" content="software engineer, developer, programmer, vojtěch mareš, vojta mareš, freelancer, web developer">
<meta name="author" content="Vojtěch Mareš">
<meta name="og:title" content="Vojtěch Mareš - Software Engineer & Freelancer">
<meta name="og:type" content="website">
<meta name="og:image" content="https://vojtamares.com/me.jpg">
<meta name="og:url" content="https://vojtamares.com">
<meta name="og:description" content="Hello, my name is Vojtěch Mareš. I'm from Czech Republic and I am a software engineer, freelancer and for the most an university student  of computer science.">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://vojtamares.com">
<meta name="twitter:title" content="Vojtěch Mareš - Software Engineer & Freelancer">
<meta name="twitter:description" content="Hello, my name is Vojtěch Mareš. I'm from Czech Republic and I am a software engineer, freelancer and for the most an university student  of computer science.">
<meta name="twitter:image" content="https://vojtamares.com/me.jpg">