{{ define "main" }}
    <main>
        <article>
            {{ if .Params.image }}
                <div class="me"><img src="{{ .Params.image }}" alt="{{ .Params.Title }}" /></div>
            {{ end }}
            {{ .Content }}
        </article>
    </main>
    <aside>
        <nav>
            <ul>
                {{ range $.Site.Params.links.dev }}
                    <li><a href="{{ .url }}">{{ .name }}</a></li>
                {{ end }}
                {{ range $.Site.Menus.main }}
                    {{ if not (eq .Name "home") }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    </aside>
{{ end }}