{{ define "main" }}
    <main>
        <article>
            {{ if .Params.image }}
                <div class="me"><img src="{{ .Params.image }}" alt="{{ .Params.Title }}" /></div>
            {{ end }}
            {{ .Content }}
        </article>
    </main>
    <aside>
        <nav>
            <ul>
                <li><a href="https://twitter.com/vojtamares_">twitter</a></li>
                <li><a href="https://github.com/vojtamares">github</a></li>
                <li><a href="/posts">blog</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
    </aside>
{{ end }}